<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
شکلات‌های خوب‌تر
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ویدا بعد از امتحان چند شکلات متوجه شد که به نظر او مزه‌ی شکلات‌های با امتیاز بالا فرق چندانی با امتیاز‌های پایین‌تر ندارد ولی با این وجود می‌تواند آن‌ها را با قیمت بسیار بالاتری بفروشد به همین دلیل از شما خواست تا شرکت‌های برتر شکلات را برای او پیدا کنید تا بتواند آن‌ها را جدا کرده و بفروشد.
در این قسمت مراحل انجام این کار را با هم پیش می‌بریم.

</font>
</p>

In [203]:
import numpy as np
import pandas as pd

df = pd.read_csv('chocolate_price.csv')
df.head()

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,A. Morin,Agua Grande,2016,63.0,France,75.0,Blend,Sao Tome,118125.0
1,A. Morin,Kpime,2015,70.0,France,55.0,Blend,Togo,96250.0
2,A. Morin,Atsane,2015,70.0,France,60.0,Blend,Togo,105000.0
3,A. Morin,Akata,2015,70.0,France,70.0,Blend,Togo,122500.0
4,A. Morin,Quilla,2015,70.0,France,70.0,Blend,Peru,122500.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول
</font>
</h2>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ابتدا، به ازای هر شرکت شکلات سازی، میانگین امتیاز شکلات‌ها را برای هر سال محاسبه کنید و مانند جدول زیر (اما برای تمامی سال‌ها) مقدار امتیاز متوسط هر شرکت در سال را ذخیره کنید.
<br/>
راهنمایی: بعد از استفاده از دستور <code>groupby</code> و محاسبه‌ی میانگین از دستور <code>unstack</code> استفاده کنید.

</font>
</p>


<table dir=ltr align=center>


<tr>
<th>  </th>
<th>2014</th>
<th>2015</th>
<th>2016</th>
<th>2017</th>

</tr>

<tr>
<td>company 1</td>
<td>70.0</td>
<td>63.75</td>
<td>75</td>
<td>NaN</td>
</tr>

<tr>
<td>company 2</td>
<td>NaN</td>
<td>NaN</td>
<td>NaN</td>
<td>NaN</td>
</tr>


</table>

In [204]:
companies = df.groupby(["Company","Review Date"])
companies=companies["Rating"].agg('mean').unstack()

# خطوط زیر برای استانداردسازی شکل جدول اعمال می‌شوند. برای جواب نهایی آن‌ها تغییر ندهید.
companies.columns.name=None
companies.index.name=None
companies

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
A. Morin,NaN,NaN,NaN,NaN,NaN,NaN,72.500000,66.363636,70.0,63.75,75.0,NaN
AMMA,NaN,NaN,NaN,NaN,77.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acalli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.00,NaN,NaN
Adi,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN
Aequare (Gianduja),NaN,NaN,NaN,57.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Zokoko,NaN,NaN,NaN,NaN,NaN,70.0,NaN,NaN,NaN,NaN,65.0,NaN
Zotter,NaN,NaN,NaN,NaN,60.0,67.5,69.285714,NaN,NaN,NaN,NaN,NaN
hello cocoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00,NaN,NaN
hexx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.00,NaN,NaN
twenty-four blackbirds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.000000,NaN,NaN,NaN,NaN

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم
</font>
</h2>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای محاسبه‌ی بهترین شرکت‌ها، نیازی به استفاده از مقدار همه‌ی سال‌ها نداریم بنابراین در متغیر <code>mean_ratings</code> میانگین ستون‌های جدول <code>companies</code> از سال ۲۰۱۲ به بعد به ازای هر کمپانی را ذخیره کنید. 
سپس در متغیر <code>best_ratings</code>، ۱۰ شرکت برتر به همراه میانگین رتبه‌ی آن‌ها را ذخیره کنید.
<br>
  دقت کنید که در مواردی که امتیاز شرکت‌ها برابر است، شرکت‌ها را به ترتیب الفبا انتخاب کنید.
</font>
</p>

In [205]:
mean_ratings = companies.loc[:,2012:2017].mean(axis=1)
best_ratings = mean_ratings.reset_index()
best_ratings = best_ratings.sort_values(by= [0 , "index"] , ascending=[False , True])
best_ratings.index = best_ratings["index"]
best_ratings.drop("index" , axis=1, inplace= True)
best_ratings = best_ratings.head(10)
best_ratings.index.name=None
best_ratings.squeeze()

Patric                     80.000000
Tobago Estate (Pralus)     80.000000
Willie's Cacao             80.000000
L.A. Burdick (Felchlin)    77.500000
Matale                     77.500000
Pacari                     77.500000
Valrhona                   76.666667
Acalli                     75.000000
Amedei                     75.000000
Askinosie                  75.000000
Name: 0, dtype: float64

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت سوم
</font>
</h2>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در متغیر <code>chocolates_to_sell</code> شکلات‌هایی که شرکتشان بین ۱۰ شرکت برتر است را پیدا و ذخیره کنید.
<br>
•   از مرتب بودن ایندکس‌ها مطمئن شوید.
<br>
•	راهنمایی: برای بررسی وجود یک متغیر در یک لیست می‌توانید از تابع <code>isin</code> استفاده کنید.

</font>
</p>

In [206]:
chocolates_to_sell = df[df["Company"].isin(best_ratings.index)].reset_index()

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت چهارم
</font>
</h2>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در نهایت مجموع قیمت این شکلات‌ها را در متغیر <code>price</code> ذخیره کنید تا میزان درآمد ویدا از آن‌ها مشخص شود.
</font>
</p>

In [207]:
priceSum = chocolates_to_sell["price(100g)"].sum()

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

In [208]:
import zlib
import zipfile


def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)


companies.to_csv('companies.csv',index = True)
chocolates_to_sell.to_csv('chocolates_to_sell.csv',index = True)
mean_ratings.to_csv("mean_ratings.csv", index = True)
best_ratings.to_csv("best_ratings.csv", index = True)

np.savez("answers.npz" ,priceSum = priceSum)
file_names = ["answers.npz", "project1_3.ipynb","chocolates_to_sell.csv","companies.csv","mean_ratings.csv", "best_ratings.csv"]
compress(file_names)

File Paths:
['answers.npz', 'project1_3.ipynb', 'chocolates_to_sell.csv', 'companies.csv', 'mean_ratings.csv', 'best_ratings.csv']